@page "/"

<Navigation />

<SurveyNavigation>
    <p>Are you a UK Executive, Leader or Manager?</p>
    <p>Does your organisation use custom Software Development?</p>
    <p>If so, please add your voice to this short 5 step survey.</p>
    <p>Responses will be used to produce a report of UK Executive's attitude towards custom Software Development.</p>
</SurveyNavigation>

@code
{
    [Inject]
    public SoftwareSurvey.Models.SurveyResponse _surveyResponse { get; set; }

    [Inject]
    private SoftwareSurvey.Services.IEventLoggingService _eventLoggingService { get; set; }

    protected override void OnInitialized()
    {
        _surveyResponse.HasBeenToStart = true;

        _eventLoggingService.TrackEvent("Loaded index page");
    }
}