@page "/"

<PageTitle Title="WELCOME" Position="1" />

<p>Are you a UK Executive, Leader or Manager?</p>
<p>Does your organisation use custom Software Development?</p>
<p>If so, please add your voice to this short 5 step survey.</p>
<p>Responses will be used to produce a report of UK Executive's attitude towards custom Software Development.</p>

<NavigationButtons NextUrl="/Demographic" />

@code
{
    [Inject]
    public Models.SurveyResponse Model { get; set; }

    [Inject]
    public Services.IEventLoggingService EventLoggingService { get; set; }

    protected override void OnInitialized()
    {
        Model.HasBeenToStart = true;
        EventLoggingService.TrackEvent("Loaded index page");
    }
}
