@page "/"

<Navigation />

<SurveyNavigation>
    <p>Are you a UK Executive, Leader or Manager?</p>
    <p>Does your organisation use custom Software Development?</p>
    <p>If so, please add your voice to this short survey.</p>
    <p>Responses will be used to produce a report of UK Executive's attitude towards custom Software Development.</p>
</SurveyNavigation>
