@page "/OneChange"
@inherits OneChangeBase

<PageTitle Title="ONE CHANGE" Position="5" />

<p>What is the one thing you'd change about your custom Software Development?  (Optional)</p>

<EditForm EditContext="@EditContext">
    <DataAnnotationsValidator />

    <div class="form-group">
        <InputTextArea id="text" @bind-Value="@Model.Text" class="form-control" rows="5" />
    </div>

    <SetInputFocus ById="text" />

    <NavigationButtons PreviousUrl="/Experiences" NextUrl="/Contact" />
</EditForm>
