@page "/SoftwareTypes"
@inherits SoftwareTypesBase 

<PageTitle Title="SOFTWARE TYPES" Position="3" />

<p>Which types of custom software do you use, and how critical are they to your organisation?</p>

<EditForm EditContext="@EditContext">
    <DataAnnotationsValidator />

    <OptionGrid TValue="SoftwareSurvey.Models.SoftwareTypes" NotApplicableLabel="Don't use" />

    <SetInputFocus ByName="e-commerce" />

    <NavigationButtons NextHandler="@HandleNext" PreviousHandler="@HandlePrevious" />
</EditForm>

