@page "/ThankYou"

<h3>ThankYou</h3>

<SurveyNavigation>
    @if (Saved)
    {
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur erat nulla, viverra et porta nec, tempus vitae mi. Pellentesque a purus molestie, porttitor mi id, placerat augue. Vivamus erat ante, faucibus non condimentum ut, pretium vitae dolor. Maecenas finibus fermentum felis a euismod. Donec finibus, tellus in aliquam faucibus, orci metus commodo quam, porta volutpat augue metus et odio. Curabitur dui augue, ullamcorper eu ultricies non, ultricies vitae erat. Quisque euismod ipsum eleifend, cursus nibh ac, maximus nunc. Donec erat libero, viverra at eros quis, mattis ultricies purus.
        </p>
    }
    else
    {
        <p>
            Saving ...
        </p>
    }
</SurveyNavigation>
