@page "/Experiences"

<Navigation />

<p>How happy are you with the below when it comes to your custom Software Development?</p>

<SurveyNavigation Model="@_model">
    <OptionGrid Model="@_model" NotApplicableLabel="Don't know" />
</SurveyNavigation>

@code
{
    [Inject]
    private SoftwareSurvey.Models.SurveyResponse _surveyResponse { get; set; }

    private SoftwareSurvey.Models.Experiences _model;

    protected override void OnInitialized()
    {
        _model = _surveyResponse.Experiences;
    }
}