@page "/Experiences"
@inherits YourExperiencesBase

<PageTitle Title="YOUR EXPERIENCES" Position="4" />

<p>How happy are you with the below when it comes to your custom Software Development?</p>

<EditForm EditContext="@EditContext">
    <DataAnnotationsValidator />

    <OptionGrid TValue="SoftwareSurvey.Models.Experiences" NotApplicableLabel="Don't know" />

    <SetInputFocus ByName="return-on-investment" />

    <NavigationButtons NextHandler="@HandleNext" PreviousHandler="@HandlePrevious" />
</EditForm>
