@page "/Experiences"

<PageTitle Title="YOUR EXPERIENCES" Position="4" />

<p>How happy are you with the below when it comes to your custom Software Development?</p>

<EditForm Model="@Model">
    <DataAnnotationsValidator />

    <OptionGrid TValue="SoftwareSurvey.Models.Experiences" NotApplicableLabel="Don't know" />

    <SetInputFocus ByName="return-on-investment" />

    <NavigationButtons PreviousUrl="/SoftwareTypes" NextUrl="/OneChange" />
</EditForm>

@code
{
    [Inject]
    private Models.Experiences Model { get; set; }

    [Inject]
    private Services.IEventLoggingService EventLoggingService { get; set; }

    protected override void OnInitialized()
    {
        EventLoggingService.TrackEvent("Loaded your experiences page");
    }
}