<div class="form-group navigation-buttons">
    @if (ShowPrevious)
    {
        <button type="submit" class="btn previous-navigation-button" @onclick="PreviousHandler">Previous</button>
    }
    @if (ShowNext)
    {
        <button type="submit" class="btn next-navigation-button" @onclick="NextHandler">Next</button>
    }

    <div class="clear"></div>
</div>
@code {
    [Parameter]
    public bool ShowPrevious { get; set; }

    [Parameter]
    public bool ShowNext { get; set; }

    [Parameter]
    public EventCallback PreviousHandler { get; set; }

    [Parameter]
    public EventCallback NextHandler { get; set; }
}
