<div class="navigation">
    <h1>@_pageTitle</h1>
    <p class="hint-short">Page @_currentPageNo of @_pageCount </p>
    <p class="hint-full">
        @foreach (var hint in _hints)
        {
            <span @key="hint">
                @if (_hints.IndexOf(hint) > 0)
                {
                    <span>&nbsp;&nbsp;>&nbsp;&nbsp;</span>
                }

                <span class="@((_hints.IndexOf(hint) + 1) == _currentPageNo ? "current" : "")">
                    @hint
                </span>
            </span>
        }
    </p>
</div>

@code {
    [Inject]
    public SoftwareSurvey.Services.ISurveyNavigationService _surveyNavigationService { get; set; }

    private string _pageTitle;
    private int _currentPageNo;
    private int _pageCount;

    private List<string> _hints;

    protected override void OnInitialized()
    {
        _pageTitle = _surveyNavigationService.CurrentPageTitle;
        _currentPageNo = _surveyNavigationService.CurrentPageNumber;
        _pageCount = _surveyNavigationService.PageCount;

        _hints = new List<string>();
        _hints.Add("Start");
        for (int i = 1; i < (_pageCount -1); i++)
        {
            _hints.Add($"Step {i}");
        }
        _hints.Add("End");
    }
}
