<div class="podcast-link">
    <h2>Listen to the podcast</h2>
    <div class="text-center">
        <a href="https://red-folder.com/podcasts">
            <img src="/images/PodcastLogo-250x250.png" alt="Podcast Logo" />
        </a>
    </div>
</div>